.h1 {
  .w100();

  .font_family_1();
  font-style: normal;
  font-weight: 200;

  .rem(35, 40);

  text-align: center;

  color: #colors[black_text];

  @media (min-width: 768px) {
    .rem(47, 66);
  }

  @media (min-width: 1920px) {
    .rem(73, 102);
  }

  &--totem {
    .mb_rem(20);

    @media (min-width: 1280px) {
      .mb_rem(-33);
    }

    @media (min-width: 1920px) {
      .mb_rem(-51);
    }
  }
}
