.h1 {
  .w100();

  .font_family_1();
  font-style: normal;
  font-weight: 200;

  .rem(35, 40);

  text-align: center;

  color: #colors[black_text];

  @media only screen and (min-width: 768px) {
    .rem(47, 66);
  }

  @media only screen and (min-width: 1920px) {
    .rem(73, 102);
  }

  &--totem {
    .mt_rem(-20);
    .mb_rem(100);

    transition: margin 0.7s linear;

    &.active {
      .mt_rem(50);
      .mb_rem(20);

      transition: margin 0.7s linear;
    }

    @media only screen and (min-width: 1280px) {
      .mb_rem(50);

      &.active {
        .mt_rem(90);
        .mb_rem(-33);
      }
    }

    @media only screen and (min-width: 1920px) {
      &.active {
        .mt_rem(100);
        .mb_rem(-51);
      }
    }
  }
}
