.h2 {
  .w100();

  .font_family_1();
  font-style: normal;
  font-weight: 300;

  .rem(24, 30);

  color: #colors[black_text];

  @media only screen and (min-width: 768px) {
    .rem(41, 50);
  }

  @media only screen and (min-width: 1920px) {
    .rem(64, 70);
  }

  &--route {
    .mb_rem(15);

    color: #colors[white_100];

    @media only screen and (min-width: 768px) {
      .mb_rem(20);
    }

    @media only screen and (min-width: 1920px) {
      .mb_rem(40);
    }
  }

  &--reviews {
    .mb_rem(10);

    @media only screen and (min-width: 768px) {
      .mb_rem(30);
    }

    @media only screen and (min-width: 1280px) {
      flex-shrink: 0;

      width: 23.44vw;

      .mb_rem(0);
    }

    @media (min-width: 1920px) {
      width: 24vw;

      max-width: 480px;
    }
  }

  &--cave {
    width: auto;

    margin-right: 22%;
    .mb_rem(20);

    color: #colors[white_100];

    @media (min-width: 768px) {
      margin-right: 8.8%;
    }

    @media (min-width: 1280px) {
      margin-right: 14.4%;
    }

    @media (min-width: 1920px) {
      margin-right: auto;
    }
  }

  &--leisure {
    .mb_rem(10);

    @media (min-width: 768px) {
      .mb_rem(20);
    }

    @media (min-width: 1280px) {
      flex-shrink: 0;

      width: 16%;

      .mb_rem(0);
      margin-right: 27%;
    }
  }

  &--rest {
    .mb_rem(5);

    @media only screen and (min-width: 768px) {
      width: 52.78%;

      .mb_rem(20);
    }

    @media (min-width: 1280px) {
      width: 100%;
    }
  }

  &--emotions {
    .mb_rem(20);

    text-align: left;

    @media only screen and (min-width: 768px) {
      .mb_rem(50);
    }

    @media only screen and (min-width: 1920px) {
      .mb_rem(80);
    }
  }

  &--decks {
    width: auto;

    .ml_rem(3);

    writing-mode: vertical-lr;

    transform: rotate(180deg);

    @media only screen and (min-width: 768px) {
      .ml_rem(10);
    }

    @media only screen and (min-width: 1280px) {
      .ml_rem(0);

      writing-mode: horizontal-tb;

      transform: rotate(0);
    }
  }
}
