.logo {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;

  &--header {
    svg {
      width: 38%;
      height: auto;

      fill: #colors[white_100];

      @media only screen and (min-width: 768px) {
        width: 46%;
      }

      @media only screen and (min-width: 1920px) {
        width: 43.33%;
      }
    }

    &.active {
      opacity: 0;
    }

    @media only screen and (min-width: 768px) {
      &.active {
        opacity: 1;
      }
    }
  }

  &--header-bottom {
    svg {
      @media only screen and (min-width: 1920px) {
        width: 31.66%;
        height: auto;
      }
    }
  }

  &--footer {
    .mb_rem(15);

    fill: #colors[accent];

    @media (min-width: 768px) {
      .mb_rem(0);
    }

    @media (min-width: 1280px) {
      .mb_rem(20);
    }

    @media (min-width: 1920px) {
      svg {
        width: 120px;
        height: auto;
      }
    }
  }
}
