.page-header {
  .w100();

  background: transparent;

  &--top {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 7;
  }
}

.page-header__wrapper {
  position: relative;

  .wrapper();

  display: flex;

  justify-content: space-between;
  align-items: stretch;

  .pb_rem(4);

  border-bottom: 1px solid #colors[white_50];

  &::before {
    content: '';

    position: absolute;

    bottom: 3px;
    left: 0;

    width: 100%;
    height: 1px;
  }

  &--top {
    border-bottom: 1px solid #colors[white_50];

    &::before {
      background-color: #colors[white_20];
    }
  }

  &--bottom {
    border-bottom: 1px solid #colors[lines_bold];

    &::before {
      background-color: #colors[lines_normal];
    }
  }

  @media (min-width: 768px) {
    &--top {
      border: none;

      .pb_rem(0);

      &::before {
        display: none;
      }
    }
  }
}

.page-header__left,
.page-header__center,
.page-header__right {
  display: flex;
}

.page-header__left,
.page-header__right {
  .pt_rem(12);
  .pb_rem(10);

  @media (min-width: 768px) {
    position: relative;

    width: 31.53%;

    &--top {
      .pb_rem(20);

      border-bottom: 1px solid #colors[white_50];

      &::before {
        content: '';

        position: absolute;

        bottom: 3px;
        left: 0;

        width: 100%;
        height: 1px;

        background-color: #colors[white_20];
      }
    }

    &--bottom {
      .pt_rem(11);
      .pb_rem(9);
    }
  }

  @media (min-width: 1280px) {
    width: 32.2%;
  }

  @media (min-width: 1920px) {
    width: 32.58%;
  }
}

.page-header__left {
  justify-content: flex-start;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.page-header__center {
  position: relative;

  justify-content: center;
  align-items: center;

  width: 62.5vw;

  max-width: 200px;

  & > svg {
    position: absolute;

    top: 1px;
    left: 0;

    width: 100%;
    height: auto;
  }

  &--bottom {
    display: none;
  }

  @media (min-width: 768px) {
    width: 27.78%;

    &--bottom {
      display: flex;
    }
  }

  @media (min-width: 1280px) {
    & > svg {
      top: 2px;
    }
  }

  @media (min-width: 1920px) {
    width: 15.63vw;

    max-width: 300px;

    &--top {
      flex-direction: column;

      justify-content: flex-end;
    }
  }
}

.page-header__right {
  justify-content: flex-end;
  align-items: center;

  @media (min-width: 1280px) {
    justify-content: space-between;
  }
}
