.quote {
  .font_family_2();

  font-style: normal;
  font-weight: normal;

  .rem(18, 30);

  color: #colors[black_text];

  @media (min-width: 768px) {
    .rem(20, 40);
  }

  @media (min-width: 1920px) {
    .rem(30, 58);
  }
}
