.route {
  .wrapper();

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;

  .pt_rem(35);

  @media only screen and (min-width: 768px) {
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;

    .pt_rem(50);
  }

  @media only screen and (min-width: 1280px) {
    .pt_rem(74);
  }

  @media only screen and (min-width: 1920px) {
    .pt_rem(144.5);
  }
}

.route__left,
.route__right {
  .w100();

  @media only screen and (min-width: 768px) {
    width: 100%;

    margin-right: 0;

    .pb_rem(24);

    overflow: hidden;
  }

  @media only screen and (min-width: 1280px) {
    width: 40%;
  }
}

.route__top,
.route__left {
  @media only screen and (min-width: 1280px) {
    width: 51.53%;

    margin-right: auto;

    overflow: hidden;
  }

  @media only screen and (min-width: 1920px) {
    width: 49.95%;
  }
}

.route__right {
  order: 1;

  .mb_rem(20);
}

.route__left {
  order: 2;
}

.route__title {
  width: 56.67%;

  padding: 0;
  margin: 0;

  .font_family_1();

  font-style: normal;
  font-weight: 200;

  .rem(20, 28);

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #colors[white_100];

  @media (min-width: 768px) {
    .rem(36, 40);

    .mb_rem(10);
  }

  @media (min-width: 1920px) {
    .rem(40, 70);

    .mb_rem(20);
  }
}

.route__more {
  padding: 0;
  margin: 0;

  border: none;
  background: none;
  outline: none;

  .mt_rem(10);

  color: #colors[white_100];

  text-align: left;

  .font_family_2();

  font-style: normal;
  font-weight: 500;

  .rem(10, 12);

  letter-spacing: 0.2em;
  text-transform: uppercase;


}

.route__top {
  order: 0;

  position: relative;

  width: calc(100% + (50vw - 50%));

  padding: 0;
  margin: 0;

  .pb_rem(17);
  .mb_rem(15);

  margin-right: calc(50vw - 50%);

  border-bottom: 1px solid #colors[white_50];

  &::before {
    content: '';

    position: absolute;

    bottom: 3px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #colors[white_20];
  }

  @media only screen and (min-width: 768px) {
    width: 100%;

    margin-right: 0;

    .pb_rem(24);

    overflow: hidden;
  }
}

.route__slider {
  padding: 0;
  margin: 0;

  &--routs {
    width: 58.06%;

    margin-left: 0;
    margin-right: auto;

    &.swiper-container {
      overflow: visible;
    }

    @media only screen and (min-width: 768px) {
      width: 55.7%;
    }
  }
}

.route__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.route__item {
  padding: 0;
  margin: 0;

  cursor: pointer;

  span {
    pointer-events: none;

    color: #colors[white_50];

    text-align: left;

    .font_family_2();

    font-style: normal;
    font-weight: 500;

    .rem(10, 12);

    letter-spacing: 0.2em;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
      .rem(12, 15);
    }

    @media only screen and (min-width: 1920px) {
      .rem(14, 17);
    }
  }

  &.swiper-slide {
    width: auto;
  }

  &.swiper-slide-active {
    span {
      color: #colors[white_100];
    }

    @media only screen and (min-width: 768px) {

    }
  }

  &.swiper-slide-next {
    span {
      color: #colors[white_50];
    }

    & + .swiper-slide {
      span {
        color: #colors[white_50];
        background: linear-gradient(to right, #colors[white_50] 0%, #colors[white_20] 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & + .swiper-slide {
        span {
          color: #colors[white_20];
          background: linear-gradient(to right, #colors[white_20] 0%, transparent 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        & + .swiper-slide {
          span {
            color: transparent;
            background: none;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
          }
        }
      }
    }

    @media only screen and (min-width: 768px) {

    }
  }
}

.route__toggle {
  cursor: pointer;
}
