.text-small {
  .w100();

  .font_family_2();

  font-style: normal;
  font-weight: normal;

  .rem(12, 18);

  color: #colors[black_text];

  @media only screen and (min-width: 768px) {
    .rem(14, 24);
  }

  @media only screen and (min-width: 1920px) {
    .rem(16, 30);
  }

  &--reviews,
  &--date {
    color: #colors[gray_text];

    h6,
    p {
      display: inline;

      padding: 0;
      margin: 0;

      font: inherit;
    }
  }

  &--reviews {
    .mb_rem(5);

    @media (min-width: 1920px) {
      .mb_rem(10);
    }
  }

  &--date {
    width: auto;
  }

  &--timetable {
    .mb_rem(10);

    color: #colors[gray_text];

    @media only screen and (min-width: 768px) {
      .mb_rem(20);
    }

    @media (min-width: 1280px) {
      .mb_rem(0);
    }
  }

  &--cave {
    max-width: 593px;

    color: #colors[white_100];
  }

  &--leisure {
    .mt_rem(10);

    @media only screen and (min-width: 768px) {
      width: 72.73%;

      .mt_rem(20);
    }

    @media (min-width: 1980px) {
      width: 73.21%;

      .mt_rem(30);
    }
  }

  &--rest {
    @media (min-width: 768px) {
      width: 65.69%;
    }

    @media (min-width: 1280px) {
      width: 81.58%;
    }

    @media (min-width: 1920px) {
      width: 100%;
    }
  }

  &--room {
    position: absolute;

    bottom: 0;
    left: 0;

    z-index: 3;

    .mb_rem(5);
    .ml_rem(12);

    color: #colors[white_100];
  }

  &--rooms {
    .mb_rem(10);

    color: #colors[white_100];

    opacity: 0;

    transform: translate3d(0, 50px, 0);

    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }
}
