.text {
  .w100();

  .font_family_2();

  font-style: normal;
  font-weight: normal;

  .rem(13, 20);

  color: #colors[black_text];

  p {
    .w100();
  }

  @media only screen and (min-width: 768px) {
    .rem(15, 26);
  }

  @media only screen and (min-width: 1920px) {
    .rem(18, 36);
  }

  &--subscribe {
    color: #colors[white_100];
  }

  &--promo {
    max-width: 85%;

    .mb_rem(68);

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    color: #colors[white_100];

    @media only screen and (min-width: 768px) {
      .mb_rem(238);
    }

    @media only screen and (min-width: 1280px) {
      .mb_rem(92);

      max-width: 51%;
    }

    @media only screen and (min-width: 1920px) {
      .mb_rem(232);

      max-width: 46.88%;
    }
  }

  &--totem {
    text-align: center;

    p + p {
      .mt_rem(17);
    }

    @media only screen and (min-width: 1280px) {
      text-align: left;

      p + p {
        .mt_rem(28.5);
      }
    }

    @media only screen and (min-width: 1920px) {
      p + p {
        .mt_rem(36);
      }
    }
  }

  &--description {
    color: #colors[white_100];
  }
}
