.text-small {
  .w100();

  .font_family_2();

  font-style: normal;
  font-weight: normal;

  .rem(12, 18);

  color: #colors[black_text];

  @media only screen and (min-width: 768px) {
    .rem(14, 24);
  }

  @media only screen and (min-width: 1920px) {
    .rem(16, 30);
  }

  &--reviews,
  &--date {
    color: #colors[gray_text];

    h6,
    p {
      display: inline;

      padding: 0;
      margin: 0;

      font: inherit;
    }
  }

  &--reviews {
    .mb_rem(5);

    @media (min-width: 1920px) {
      .mb_rem(10);
    }
  }

  &--date {
    width: auto;
  }

  &--timetable {
    .mb_rem(10);

    color: #colors[gray_text];

    @media only screen and (min-width: 768px) {
      .mb_rem(20);
    }

    @media (min-width: 1280px) {
      .mb_rem(0);
    }
  }
}
