@font-face {
    font-family: 'Gilroy';
    src:  url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
         url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy-Regular.woff') format('woff'),
         url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src:  url('../fonts/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
         url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
         url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace';
    src:  url('../fonts/LovelaceText-Regular.eot');
    src: local('Lovelace Text Regular'), local('LovelaceText-Regular'),
         url('../fonts/LovelaceText-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LovelaceText-Regular.woff2') format('woff2'),
         url('../fonts/LovelaceText-Regular.woff') format('woff'),
         url('../fonts/LovelaceText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
