/* Color maps */

#colors() {
  bg: #f0f0f0;
  accent: #C8A97A;
  accent_dark: #A78D65;
  accent_light: #DCCCB5;
  white_100: #FFFFFF;
  white_50: rgba(255, 255, 255, 0.5);
  white_20: rgba(255, 255, 255, 0.2);
  black_text: #414245;
  gray_text: #919191;
  lines_normal: #E0DFDF;
  lines_bold: #D1CFCE;
  error: #C88D7A;
  error_light: #E4BEB2;
}

/* rem mixin */

.rem(@font_size_px, @line_height_px, @base: 16) {
  font-size: (@font_size_px / @base) * 1rem;
  line-height: (@line_height_px / @base) * 1rem;
}

/* margins text rem mixin */

.mb_rem(@mb_px, @base: 16) {
  margin-bottom: (@mb_px / @base) * 1rem;
}

.mt_rem(@mt_px, @base: 16) {
  margin-top: (@mt_px / @base) * 1rem;
}

.ml_rem(@ml_px, @base: 16) {
  margin-left: (@ml_px / @base) * 1rem;
}

.mr_rem(@mr_px, @base: 16) {
  margin-right: (@mr_px / @base) * 1rem;
}

/* paddings text rem mixin */

.pb_rem(@pb_px, @base: 16) {
  padding-bottom: (@pb_px / @base) * 1rem;
}

.pt_rem(@pt_px, @base: 16) {
  padding-top: (@pt_px / @base) * 1rem;
}

.pl_rem(@pl_px, @base: 16) {
  padding-left: (@pl_px / @base) * 1rem;
}

.pr_rem(@pr_px, @base: 16) {
  padding-right: (@pr_px / @base) * 1rem;
}

/* Font mixin */

.font_family_1() {
  font-family: 'Lovelace', 'Times New Roman', serif;
}

.font_family_2() {
  font-family: 'Gilroy', 'Arial', sans-serif;
}

/* Full width */
.w100() {
  width: 100%;

  padding: 0;
  margin: 0;
}

/* Container */

.wrapper() {
  width: 93.75%; // 300 (mobile) or 720 (tablet)

  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 1280px) {
    width: 92.1875%; // 1180px
  }

  @media only screen and (min-width: 1920px) {
    width: 94.7917%; // 1820px
    max-width: 1820px;
  }
}
